.grid {
    width: 750px;
    height: 750px;
    border: solid black 1px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(10, 34, 141);
    position: relative;
}

.grid div {
    width: 50px;
    height: 50px;
}

.grid .shooter {
    width: 150px;
    height: 50px;
    background-size: contain;        /* Sørger for at billedet fylder hele div'en */
    background-repeat: no-repeat;  /* Undgår gentagelse af billedet */
    background-position: center;   /* Centrerer billedet */
} 

.invader {
	background-image: url('../img/Teddy.png');
    background-size: contain;        /* Sørger for at billedet fylder hele div'en */
    background-repeat: no-repeat;  /* Undgår gentagelse af billedet */
    background-position: center;   /* Centrerer billedet */
}

.shooter {
	background-image: url('../img/Tea_Time_Base.png');
}

.laser {
	background-image: url('../img/Tea_Time_Mist.gif');
    background-size: contain;        /* Sørger for at billedet fylder hele div'en */
    background-repeat: no-repeat;  /* Undgår gentagelse af billedet */
    background-position: center;   /* Centrerer billedet */
}

.boom {
	background-image: url('../img/DeltaRune_Boom.gif');
    background-size: contain;        /* Sørger for at billedet fylder hele div'en */
    background-repeat: no-repeat;  /* Undgår gentagelse af billedet */
    background-position: center;   /* Centrerer billedet */
}