@CHARSET "ISO-8859-1";
#wrapper {
	width: 1024px;
	height: 1024px;
	margin-left: auto;
	margin-right: auto;
}
canvas {
	/* background-image: url("../img/skoven.jpg"); */
	background-color: gray;
}
p{
	color:red;
	white-space: nowrap;
	display: inline-block;
}